.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191c21;
}

.content {
  position: relative;
  width: 440px;
  height: 600px;

  .star-TL , .star-TR {
    position: absolute;
    font-size: 20px;
    color: #f59549;
    top: 36px;
  }
  .star-TL {
    left: 115px;
  }
  .star-TL::before {
    content: "+";
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 16px;
    transform: rotate(45deg);
  }
  .star-TR {
    right: 115px;
  }
  .star-TR::before {
    content: "+";
    position: absolute;
    top: 3px;
    left: 1px;
    font-size: 16px;
    transform: rotate(45deg);
  }

  .mask-base {
    position: relative;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    width: 440px;
    height: 600px;
    background-color: #f59549;
  
    .base {
      position: relative;
      right: -2px;
      bottom: -2px;
      width: 436px;
      height: 596px;
      background-color: #191c21;
      clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);

      .sun {
        position: absolute;
        top: 161px;
        left: 173px;
        width: 90px;
        height: 90px;
        background-color: #f59549;
        border-radius: 50%;
      }

      .horizon-line {
        position: absolute;
        width: 100%;
        top: 50%;
        border-bottom: 2px solid #f59549;
      }

      .reflex {
        position: absolute;
        bottom: 100px;
        left: 3px;
        width: 440px;
        height: 198px;
        background: repeating-linear-gradient(
          -54deg,
          #f59549 19px,
          #f59549,
          transparent 20px,
          transparent 36px
        );

        .shadow {
          position: absolute;
          top: 2px;
          left: 139px;
          width: 141px;
          height: 92px;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
          background-color: #191c21;
        }
        .shadow:first-child {
          left: 45px;
          width: 102px;
          height: 59px;
        }
        .shadow:last-child {
          left: 261px;
          width: 131px;
          height: 62px;
        }
      }

      .waves {
        position: absolute;
        width: 440px;
        height: 90px;
        bottom: 0;

        .wave {
          position: absolute;
          bottom: 54px;
          left: 24px;
          width: 100%;
          height: 12px;
          background:
            linear-gradient(to bottom left, transparent 50%, #f59549 50%),
            linear-gradient(to bottom right, transparent 50%, #f59549 50%);
          background-size: 30px;
          background-repeat: repeat-x;
        }
        .wave::before {
          content: "";
          position: absolute;
          bottom: -16%;
          width: 100%;
          height: 12px;
          background:
            linear-gradient(to bottom left, transparent 50%, #191c21 50%),
            linear-gradient(to bottom right, transparent 50%, #191c21 50%);
          background-size: 30px;
          background-repeat: repeat-x;
        }

        .wave:first-child {
          bottom: 0;
          top: 0;
        }
        .wave:last-child {
          bottom: 30px;
          left: 23px;
        }
      }
    }
  }

  .planets-BL {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 90px;
    left: 50px;

    .planet-small {
      width: 4px;
      height: 4px;
      background-color: #f59549;
      border-radius: 50%;
    }
    .planet-medium {
      width: 8px;
      height: 8px;
      background-color: #f59549;
      border-radius: 50%;
    }
    .planet-big {
      width: 24px;
      height: 24px;
      border: 1px solid #f59549;
      background-color: #191c21;
      border-radius: 50%;
    }
    .planet-big::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 42%;
      width: 46px;
      border-bottom: 1px solid #f59549;
      transform: rotate(45deg);
    }
  }

  .planets-BR {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 90px;
    right: 60px;

    .planet-small {
      width: 4px;
      height: 4px;
      border: 1px solid #f59549;
      background-color: #191c21;
      border-radius: 50%;
    }
    .planet-medium {
      width: 8px;
      height: 8px;
      background-color: #f59549;
      border-radius: 50%;
    }
    .planet-big {
      width: 16px;
      height: 16px;
      border: 1px solid #f59549;
      background-color: #191c21;
      border-radius: 50%;
    }
  }
}
